{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">Forces Support Information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/question">Find Support</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/answers">Support Types</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Health</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Health
      </h1>

      <p>You can find help and information about:</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="health/ptsd.html">Assessing PTSD</a>
        </li>
        <li>
          <a class="govuk-link" href="services/welfare.html">Failed medical</a>
        </li>
        <li>
          <a class="govuk-link" href="/services/employment">Medical discharge</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Recuperation</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
