{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Health
      </h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Wellbeing
          </span>
        </summary>
        <div class="govuk-details__text">
          Some blurb goes here.<br/>
          <button type="submit" class="govuk-button">
            Go to website.
          </button>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Assessing your support
          </span>
        </summary>
        <div class="govuk-details__text">
          Some blurb goes here.<br/>
          <button type="submit" class="govuk-button">
            Go to website.
          </button>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Bereavement
          </span>
        </summary>
        <div class="govuk-details__text">
          Some blurb goes here.<br/>
          <button type="submit" class="govuk-button">
            Go to website.
          </button>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
