{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../start">Forces Support Information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../question">Find Support</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="../answers">Support Types </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Health</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Health
      </h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Wellbeing
          </span>
        </summary>
        <div class="govuk-details__text">
          Some blurb goes here.<br/>
          <button type="submit" class="govuk-button">
            Go to website.
          </button>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Assessing your support
          </span>
        </summary>
        <div class="govuk-details__text">
          Some blurb goes here.<br/>
          <button type="submit" class="govuk-button">
            Go to website.
          </button>
        </div>
      </details>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Bereavement
          </span>
        </summary>
        <div class="govuk-details__text">
          Some blurb goes here.<br/>
          <button type="submit" class="govuk-button">
            Go to website.
          </button>
        </div>
      </details>

    </div>
  </div>

{% endblock %}
