{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">Forces Support Information</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/question">Find Support</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/answers">Support Types </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Welfare</a>
        </li>
       </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
        Welfare
        </h1>

        <p>You can find help and information about</p>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="/services/welfare/mental-welbeing">Mental Welbeing</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Assessing your support</a>
            </li>
            <li>
                <a class="govuk-link" href="#">Bereavement</a>
            </li>
          
        </ul>


        </div>
    </div>

    {% endblock %}
