{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">Forces Support Information</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/question">Find Support</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/answers">Support Types </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../welfare">Welfare</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">Mental Welbeing</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Mental Welbeing
        </h1>

        <p>These organisations may provide the information you are looking for:</p>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="http://www.rochdale.gov.uk/events-and-activities/events/Pages/armed-forces-day-veterans-breakfast-club.aspx" target="_blank">Rochdale Breakfast Club</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.turn2us.org.uk/" target="_blank">Turn 2 Us</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.combatstress.org.uk/" target="_blank">Combat Stress</a>
            </li>
        </ul>
    </div>
</div>

{% from "phase-banner/macro.njk" import govukPhaseBanner %}
{{
 govukPhaseBanner({
  tag: {
    text: "Was this information helpful?"
  },
  html: '<a class="govuk-link" href="#">Yes</a> <a class="govuk-link" href="#">No</a>Are there any errors on this page. Your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
})
}}

{% endblock %}

