{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/start">Forces Support Information</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/question">Find Support</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/answers">Support Types </a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="../welfare">Welfare</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link">>Mental Welbeing</a>
        </li>
    </ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Mental Welbeing
        </h1>

        <p>These organisations may provide the information you are looking for:</p>

        <ul class="govuk-list">
            <li>
                <a class="govuk-link" href="https://www.turn2us.org.uk/" target="_blank">Turn 2 Us</a>
            </li>
            <li>
                <a class="govuk-link" href="https://www.combatstress.org.uk/">Combat Stress</a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

<div class="gem-c-feedback gem-c-feedback--top-margin" data-module="feedback">
    <div class="gem-c-feedback__prompt gem-c-feedback__js-show js-prompt" tabindex="-1">
        <div class="gem-c-feedback__js-prompt-questions js-prompt-questions">
            <h2 class="gem-c-feedback__prompt-question">Is this page useful?</h2>

            <a class="gem-c-feedback__prompt-link" data-track-category="yesNoFeedbackForm" data-track-action="ffMaybeClick" aria-expanded="false" role="button" style="display: none;" hidden="hidden" aria-hidden="true" href="/contact/govuk">
                Maybe
            </a>
            <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--useful js-page-is-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffYesClick" aria-expanded="false" role="button" href="/contact/govuk">
                Yes <span class="visually-hidden">this page is useful</span>
            </a>
            <a class="gem-c-feedback__prompt-link js-toggle-form js-page-is-not-useful" data-track-category="yesNoFeedbackForm" data-track-action="ffNoClick" aria-controls="page-is-not-useful" aria-expanded="false" role="button" href="/contact/govuk">
                No <span class="visually-hidden">this page is not useful</span>
            </a>
            <a class="gem-c-feedback__prompt-link gem-c-feedback__prompt-link--wrong js-toggle-form js-something-is-wrong" data-track-category="Onsite Feedback" data-track-action="GOV.UK Open Form" aria-controls="something-is-wrong" aria-expanded="false" role="button" href="/contact/govuk">
                Is there anything wrong with this page?
            </a>
        </div>

        <div class="gem-c-feedback__prompt-success js-prompt-success js-hidden" tabindex="-1">
            Thank you for your feedback
        </div>
    </div>
</div>

