{% extends "layout.html" %}

{% block pageTitle %}
  Forces Support Information
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/start">Forces Support Information</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/question">Find Support</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link"> Support Types </a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>Here are the different types of support available:</p>

      {% from "details/macro.njk" import govukDetails %}

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="services/health.html">Health</a>
        </li>
        <li>
          <a class="govuk-link" href="services/welfare.html">Welfare</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Employment</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Housing</a>
        </li>
        <li>
          <a class="govuk-link" href="#">Education</a>
        </li>
      </ul>

    </div>

  </div>
{% endblock %}
